body { 
    min-height:100%; 
    padding:0; 
    margin:0; 
}

.bgimage {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/leatherbackground.jpg);
    background-position: center;
    background-size: cover;
}

/* NavBar CSS */

.pagecontainer {
    position: relative;
    min-height: 100vh;
}

.contentwrap {
    padding-bottom: 56px;
}

nav {
    height: 60px;
    background-color: #000;
    background-image: url(../img/rolls.jpg);
}

.logo {
    float:left;
    height: 60px;
    width: 60px;
}

.bannertext {
    color: #fff;
    font-size: 36px;
    float: left;
    margin-bottom: 0;
    margin-top: 8px;
    margin-left: 18px;
}

nav ul {
    list-style-type: none;
    position: relative;
    padding-inline-start: 0;
}

nav li {
    float:right;
}

.navlink {
    display: block;
    height: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navlink:hover {
    background-image: url(../img/leatherlogo2.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    transition: .4s;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -30px;
    background-image: url(../img/leatherlogo2.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 140px;
} 
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownlist {
    list-style-type: circle;
}

.vert {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
    font-size: 14pt;
    text-align: center;
}
.vert:hover {
    color: #999;
}

/* Content Styling */

.columnl {
    float: left;
    width: 560px;
    margin: 0 35px 0 400px;
    padding: 10px;
    color: #ccc;
}

.columnr {
    float: left;
    width: 560px;
    margin: 0 35px 0 35px;
    padding: 10px;
    color: #ccc
}

section {
    height: 100vh;
}

section a {
    color: #888;
}

h2 {
    margin: 0;
    padding-top: 35vh;
}

p {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 14pt;
    text-shadow: 1px 1px #000;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.aboutvid {
    margin-top: 30vh;
    border: 1px solid #fff;
}

.colorchart{
    margin-top: 18vh;
    height: 650px;
    width: 560px;
    border: 1px solid #fff;
}

.largelogo {
    margin-top: 22vh;
    height: 560px;
    width: 560px;
    border: 1px solid #fff;
}

/* Footer CSS */

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:0;
    height: 40px;
    background-color: #000;
    color: #fff;
    padding-top: 16px;
}

.smlogo {
    height: 20px;
    width: 20px;
    margin: 0px 10px;
    float: inline-start;
}

footer div {
    margin-top: -10px;
    margin-bottom: 5px;
}